/* Banner*/

#banner{
    padding: 0 50px;
    background-image: url(../multimedia/main.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

#banner::before{
    content: '';
    background: rgba(77,77,92, 0.6);
    position: absolute;
    width: 33%;
    height: 100vh;
}

.barra .contenido{
    align-items: center;
    width: 33%;
}
.contenido {
    position: relative;
    color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contenido h1{
    font-size: 30px;
    font-weight: 400;
    padding: 10px 0px;
}

.croquis{
    width: 150vh;
    height: 80vh;
    overflow: hidden;
    position: relative;
    margin: 50px auto;
    border-radius: 20px;
    box-shadow: 5px 8px 12px black;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.croquis:hover{
    transform: scale(1.1);
    box-shadow: 13px 15px 37px black;
}

.croquis img{
    width: 100%;
    height: 100%;
}
.croquis p {
    font-size: 3rem;
    color: white;
    position: absolute;
    top: 25%;
    left: 25%;
    transform: translate(-25%, -25%);
    text-shadow: 0 0 8px rgba(0,0,0, 0.8);
}

#simbolos{
    padding: 50px 50px;
    display: flex;
    justify-content: center;
    text-align: center;
}

#simbolos img{
    border-radius: 100%;
}

#simbolos div{
    padding: 30px 30px;
    background-image: linear-gradient(180deg,rgba(242,110,25,1), rgba(171,52,69,1),  rgba(64,24,31,1))
}

#simbolos div h2{
    color: #white;
    font-size: 20px;
    margin: 15px 0px;
}

#simbolos div p{
    color: #4d4d5c87;
    font-size: 18px;
}

/* Estilos para la sección de símbolos */
#simbolos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  /* Estilos para cada elemento dentro de la sección */
  #simbolos div {
    width: calc(33.33% - 20px); /* Aproximadamente 1/3 del ancho, con un espacio de 20px entre elementos */
    margin: 10px;
    text-align: center;
    border-color: red solid;
  }

  /* Estilos para las imágenes */
  #simbolos img {
    max-width: 100%;
    height: auto;
  }

  /* Estilos para los títulos */
  #simbolos h2 {
    font-size: 18px;
    margin-top: 10px;
  }

  /* Estilos para los párrafos */
  #simbolos p {
    font-size: 14px;
  }

  /* Estilos para pantallas pequeñas */
  @media screen and (max-width: 768px) {
    #simbolos div {
      width: calc(50% - 20px); /* 2 elementos por fila, con un espacio de 20px entre elementos */
    }
  }

  /* Estilos para pantallas aún más pequeñas */
  @media screen and (max-width: 480px) {
    #simbolos div {
      width: 100%; /* 1 elemento por fila en pantallas muy pequeñas */
    }
  }

  .fondo_simbolos {
    height: calc(100vh - 80px);
    margin: auto;
    background-color: black;
    background-image: url(../multimedia/atardecer.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 50px;
    padding-right: 350px;
  }