.m_croquis {
  width: 100%;
  height: 100%;
  background:linear-gradient(180deg, rgb(206, 89, 11),rgb(204, 114, 54), rgb(224, 152, 104), rgb(231, 190, 163));
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
  grid-gap: 20px;
  padding: 20px;
}
.modelo_croquis {
  background-color: #f0f0f000;
  padding: 20px;
  text-align: center;
}
.modelo_croquis img {
  max-width: 100%;
  height: auto;
}

.fondo_simbolos{ 
  width: 110%;
  height: auto;
  color: #fff;
  background: linear-gradient(180deg, rgb(231, 190, 163), rgb(155, 135, 122), rgb(87, 79, 74), rgb(39, 37, 36), rgb(8, 8, 8), rgb(0, 0, 0));
  background-size: 400% 400%;
  position: relative;
}
.simbologia{
  background-color: rgb(40,38,38);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding-top: 20px;
  padding: 40px;
  width: 50%;
  margin: 15px auto;
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgba (0, 0 ,0, 0.5);
}

.simbologia img {
  width: 200px;
  max-width: 100%;
  height: auto;
  border-radius: 30px;
  border: dashed 3px white;
}

.simbologia h2{
  margin: 0;
  color: aqua;
}
  .simbologia p{
  color: antiquewhite;
  margin-right: 15px;
}