/* Inicio Presentación Simbolos*/
.fondo_simbolos{
  padding: 0 0;
  background-image: url(../multimedia/montaña.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.croquis{
    width: 150vh;
    height: 80vh;
    overflow: hidden;
    position: relative;
    margin: 50px auto;
    border-radius: 20px;
    box-shadow: 5px 8px 12px black;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.croquis:hover{
    transform: scale(1.1);
    box-shadow: 13px 15px 37px black;
}
.croquis img{
    max-width: 100%;
    max-height: 100%;
}
.croquis p {
    font-size: 3rem;
    color: white;
    position: absolute;
    top: 25%;
    left: 25%;
    transform: translate(-25%, -25%);
    text-shadow: 0 0 8px rgba(0,0,0, 0.8);
}
/*Fin Presentación Símbolos*/
/* Inicio Simbolos*/
.contenedor_tarjetas{
  padding: 75px 75px;
  display: flex;
  justify-content: center;
  text-align: center;
}
#simbolos img{
  border-radius: 100%;
}
#simbolos div{
  padding: 30px 30px;
}
#simbolos h2{
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  margin: 15px 0;
}
#simbolos p{
  color: white;
  font-size: 18px;
}
.card_simbolo{
  background: linear-gradient(180deg,rgba(212, 216, 217,0.9),rgba(211,217,215,0.9), rgba(69,79,91,0.9),rgba(48,59,53,0.9));
  width: 270px;
  height: 400px;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
}
.card_simbolo img{
  background-color: aqua;
  height: 150px;
  margin-bottom: 15px;
  background-size: cover;
  justify-content: space-around;
}
